@import "tailwindcss";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

:root {
  /* BACKGROUND COLORS */
  --background-green: #2EA24F;
  --background-blue: #00558C;
  --background-white: white;

  /* FONTS */
  --font-green: #2EA24F;
  --font-blue: #00558C;
  --font-white: white;
}


html{
  font-family: var(--font-roboto-slab), serif;
}